.card {
  /* top&buttom = 0, right&left = 5em */
  width: 200px;
}

.card__backImg {
  display: flex;
  justify-content: center;
  height: 100px;
  width: 100%;
  background: rgb(170, 98, 110);
}

.card__img {
  border-radius: 50%;
}

.card__content {
  padding: 1.5em;
  background: white;
}

.card__list {
  list-style-type: none;
  display: flex;
  margin: 0;
  padding: 0;
}

.card__item {
  padding: 0.3em 0.5em;
  margin-right: 0.5em;
  background: rgb(230, 230, 230);
  border-radius: 0.3em;
  font-size: 0.85em;
}

.card__item--active {
  background: #d4d4d4;
  font-weight: bold;
}

.card__btn {
  background: #2c8973;
  color: white;
  text-decoration: none;
  padding: 0.5em 1em;
  border-radius: 0.5em;
  display: inline-block;
  margin-top: 0.5em;
}

.card__btn:hover {
  background: #267764;
}
